head
  title Haven
body
    +navbar
    if currentUser
      +chat
    else
      .uk-grid.container--full-height
        .container--full-height.uk-flex.uk-flex-center.uk-flex-middle.uk-width-1-1
          .uk-container.uk-container-center
            h1 Haven
            +login

template(name='navbar')
  .uk-grid
    .uk-navbar.uk-width-1-1
      .uk-container.uk-container-center
        ul.uk-navbar-nav
          li Haven
          &nbsp;
          +newChat
        .uk-navbar-flip
          ul.uk-navbar-nav
            +login

template(name='login')
  if currentUser
    button.button-login Log out
  else
    button.button-login Log in with Facebook

template(name='newChat')
  if currentUser
    button.button-newChat Find New Chat

template(name='search')
  h2 Talk to me about...
  form.searchform
    input(type='text')

template(name='chat')
  .uk-grid
    .uk-width-1-1
      +search
      +input
      +messages
      +rooms

template(name='input')
  input#msg(type='text', placeholder='Type your message here...')
  input(type='button', value='Send Message')

template(name='messages')
  h4 Chat: #{roomname}
  #messages
    each messages
      +message

template(name='message')
  p #{user} (#{timestamp}) #{msg}

template(name='rooms')
  h4 My Chats
  ul
    each rooms
      +room

template(name='room')
  li.chat--name #{roomname}