head
  title Haven
body
  .container--full-height.uk-grid
    .container--full-height.uk-flex.uk-flex-center.uk-flex-middle.uk-width-1-1
      div
        h1 Haven
        +search
        +loginButtons
        +chat

template(name='search')
  h2 Talk to me about...

template(name='chat')
  if currentUser
    +input
    +messages
    +rooms
  else
    +loginButtons

template(name='messages')
  h4 Room: #{roomname}
  #messages
    each messages
      +message

template(name='message')
  p #{user} (#{timestamp}) #{msg}

template(name='rooms')
  h4 Join a room
  ul
    each rooms
      +room

template(name='room')
  div #{roomname}