head
  title Haven
body
    if currentUser
      +navbar
      +chat
    else
      .uk-grid.container--full-height
        .container--full-height.uk-flex.uk-flex-center.uk-flex-middle.uk-width-1-1
          .uk-container.uk-container-center
            h1 Haven
            +login

template(name='navbar')
  .uk-grid
    .uk-navbar.uk-width-1-1
      .uk-container.uk-container-center
        ul.uk-navbar-nav
          li Haven
          +newChat
        .uk-navbar-flip
          ul.uk-navbar-nav
            +login

template(name='login')
  if currentUser
    button.button-login Log out #{currentUser.profile.name}
  else
    button.button-login Log in with Facebook

template(name='newChat')
  if currentUser
    button.button-newChat Find New Chat

template(name='search')
  h2 Talk to me about...
  form.searchform
    input(type='text', placeholder='Enter tags:')
  each currentUser.profile.tags
    +tag

template(name='tag')
  p #{this}

template(name='chat')
  .uk-container.uk-container-center
    .uk-grid
      //-+search
      .uk-width-3-10
        +rooms
      .uk-width-7-10
        +messages
        +input
        +tags


template(name='input')
  input#msg(type='text', placeholder='Type your message here...')
  input(type='button', value='Send Message')

template(name='messages')
  h4 Chat: #{roomname}
  #messages
    each messages
      +message

template(name='message')
  p #{user} (#{timestamp}) #{msg}

template(name='rooms')
  h4 My Chats
  ul
    each rooms
      +room

template(name='room')
  li.chat--name #{roomname}

template(name='tags')
  select(multiple, data-role="tagsinput")
    option(value='topic1')
    option(value='topic2')
    option(value='topic3')
    option(value='topic4')
    option(value='topic5')
    option(value='topic6')
    option(value='topic7')
    option(value='topic8')
    option(value='topic9')
    option(value='topic10')
