head
  title Haven
body
    if currentUser
      +navbar
      +chat
    else
      .uk-grid.container--full-height
        .container--full-height.uk-flex.uk-flex-center.uk-flex-middle.uk-width-1-1
          .uk-container.uk-container-center
            h1(class='text-center', style='font-size:1200%;') Haven
            h2(class='text-center', style='margin-bottom:3%') Find your anonymous confidant.
            +login
            +carousel

template(name='navbar')
  .uk-grid
    .uk-navbar.uk-width-1-1.haven-navbar
      .uk-container.uk-container-center
        ul.uk-navbar-nav
          li Haven 
        .uk-navbar-flip
          ul.uk-navbar-nav
            +newChat
            +login

template(name='login')
  if currentUser
    button.uk-button.uk-button-link.button-login(style='margin-left:43%; margin-bottom: 3%; background-color:#3b5998; color:white;') Log out #{currentUser.profile.name}
  else
    button.uk-button.button-login(style='margin-left:43%; margin-bottom: 3%; background-color:#3b5998; color:white; text-shadow: none;') Log in with Facebook

template(name='chat')
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1
        +search
      .uk-width-3-10
        +rooms
      .uk-width-7-10
        +messages
        +input

template(name='newChat')
  if currentUser
    button.uk-button.uk-button-success.button-newChat Find New Chat

template(name='search')
  h2 Talk to me about...
  form.searchform
    .js-search--autocomplete.search--autocomplete
      input.search--input(type='text', placeholder='Enter tags:')
  .tags
    each currentUser.profile.tags
      +tag

template(name='tag')
  .tag
    span.tag--name.js-tag--name #{this}
    span.tag--close.js-tag--close &times;


template(name='input')
  .textbox
    input#msg.textbox--text(type='text', placeholder='Type your message here...')
    input#msgBtn(type='button', value='Send Message')

template(name='messages')
  h4 Chat: #{roomname}
  #messages
    each messages
      +message

template(name='message')
  p #{user} (#{timestamp}) #{msg}

template(name='rooms')
  h4 My Chats
  ul
    each rooms
      +room
  h5 Click "Find New Chat" to chat with more users!

template(name='room')
  li.chat--name #{roomname}

template(name='tags')
  select(multiple, data-role="tagsinput")
    each currentUser.profile.tags
      option(value=this)

template(name='carousel')
  #acc-wrap
    #accordion
      #accdiv
        ul#accul
          li.accli(style='box-shadow:none;')
            a(href='http://haven2.meteor.com/')
              .imgdiv
                .imgwrap
                  img(src='accordion/01.png', alt='')
              .short
                p
                  //span First slide
              .text.bottom-right
                p
                  //span Blah blah
                p
                  //span Blah blah
                p
                  //span Blah blah
          li.accli
            a(href='accordion/img/02.png', data-gallery='gallery', data-cap='lightbox caption 02')
              .imgdiv
                .imgwrap
                  img(src='accordion/02.png', alt='')
              .short
                p
                  //span Second slide
              .text.top-left
                p
                  //span Blah blah
                p
                  //span(style='background: rgba(57, 108, 124, 0.52);') Blah blah
          li.accli
            a
              .imgdiv
                .imgwrap
                  img(src='accordion/03.png', alt='')
              .short
                p
                  //span Third slide
              .text.top-right
                p
                  //span Blah blah
                p
                  //span Blah blah
          li.accli
            a
              .imgdiv
                .imgwrap
                  img(src='accordion/04.png', alt='')
              .short
                p
                  //span Fourth slide
              .text.bottom-left
                p
                  //span(style='background:rgba(44, 128, 128, 0.54)') Blah blah
                p
                  //span(style='background:rgba(44, 128, 128, 0.54)') Blah blah
          li.accli
            a
              .imgdiv
                .imgwrap
                  img(src='accordion/05.png', alt='')
              .short
                p
                  //span Fifth slide
              .text.bottom-right
                p
                  //span Blah blah
          li.accli
            a
              .imgdiv
                .imgwrap
                  img(src='accordion/06.png', alt='')
              .short
                p
                  //span Sixth slide
              .text.bottom-right
                p
                  //span Blah blah
                p
                  //span Blah blah
      .Controller

