head
  title Haven
body
  .container--full-height.uk-grid
    if currentUser
      +chat
    else
      .container--full-height.uk-flex.uk-flex-center.uk-flex-middle.uk-width-1-1
        div
          h1 Haven
          +loginButtons
          +search

template(name='search')
  h2 Talk to me about...
  .uk-autocomplete.uk-form(data-uk-autocomplete='{source: "tags.json"}')
    input(type='text')

template(name='chat')
  if currentUser
    +input
    +messages
    +rooms

template(name='input')
  input#msg(type='text', placeholder='Type your message here...')
  input(type='button', value='Send Message')

template(name='messages')
  h4 Chat: #{roomname}
  #messages
    each messages
      +message

template(name='message')
  p #{user} (#{timestamp}) #{msg}

template(name='rooms')
  h4 My Chats
  ul
    each rooms
      +room

template(name='room')
  li #{roomname}